{% extends'baseadmin.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}

    <div class="container">

        {% if categories %}

            <table id="category" class="table table-striped">
                <thead>
                    <tr>
                        <th>Category Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                    {% for category in categories %}
                        <tr>
                            <td>{{ category.name }}</td>
                            <td>
                                <a href="/admin/category-edit/{{ category.id }}" class="btn btn-light">Edit</a>
                                <a href="#" class="btn btn-outline-danger delete-category" data-id="{{ category.id }}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No Categories to Display</p>
        {% endif %}
    </div>
{% endblock %}