<!-- Admin Nav Area -->
<div class="original-nav-area" id="stickyNav">
    <div class="classy-nav-container">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">BlogProject</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/author-new">New Author</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/author-list">Authors List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/category-new">Category New</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/category-list">Category List</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- End Admin Nav Area -->