<!-- Carousel Area Start  -->
<div class="hero-area">
    <!-- Carousel Slides Area -->
    <div class="hero-slides owl-carousel">
        <!-- Single Slide -->
        <div class="single-hero-slide bg-img" style="background-image: url('assets/img/bg-img/carousel01.jpg');">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="slide-content text-center">
                            <div class="post-tag">
                                <a href="#" data-animation="fadeInUp">Kitchen</a>
                            </div>
                            <h2 data-animation="fadeInUp" data-delay="250ms"><a href="single-post.html">Take a look at last project!</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Slide -->
        <div class="single-hero-slide bg-img" style="background-image: url('assets/img/bg-img/carousel02.jpg');">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="slide-content text-center">
                            <div class="post-tag">
                                <a href="#" data-animation="fadeInUp">Living Room</a>
                            </div>
                            <h2 data-animation="fadeInUp" data-delay="250ms"><a href="single-post.html">Take a look at last project!</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Slide -->
        <div class="single-hero-slide bg-img" style="background-image: url('assets/img/bg-img/carousel03.png');">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="slide-content text-center">
                            <div class="post-tag">
                                <a href="#" data-animation="fadeInUp">Bed Room</a>
                            </div>
                            <h2 data-animation="fadeInUp" data-delay="250ms"><a href="single-post.html">Take a look at last project!</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  Carousel Area End  -->