<!--  Footer Area Start  -->
<footer class="footer-area text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-social-area mt-30">
                    {{ include('inc/socialarea.html.twig') }}
                </div>
            </div>
        </div>
    </div>
    </p>

    &copy;<a href="#" target="_blank">BlogProject</a> <script>document.write(new Date().getFullYear());</script> All rights reserved | Designed by <a href="#" target="_blank">RD</a>


</footer>
<!--  Footer Area End  -->