<!-- ##### Header Area Start ##### -->
<header class="header-area">

    <!-- Top Header Area -->
    <div class="top-header">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <!-- Breaking News Area -->
                <div class="col-12 col-sm-8">
                    <div class="breaking-news-area">
                        <div id="breakingNewsTicker" class="ticker">
                            <ul>
                                <li><a href="#">News</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Top Social Area -->

                <div class="col-12 col-sm-4">
                    <div class="top-social-area">
                        {{ include('inc/socialarea.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('inc/logo.html.twig') }}
    {{ include('inc/navbar.html.twig') }}
</header>
<!-- ##### Header Area End ##### -->