<!-- Logo Area -->
<div class="logo-area text-center">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <a href="index.html" class="original-logo"><img src="img/core-img/logo.png" alt=""></a>
            </div>
        </div>
    </div>
</div>