<!-- Nav Area -->
<div class="original-nav-area" id="stickyNav">
    <div class="classy-nav-container breakpoint-off">
        <div class="container">
            <!-- Classy Menu -->
            <nav class="classy-navbar justify-content-between">

                <!-- Subscribe btn -->
                <div class="subscribe-btn">
                    <a href="#" class="btn subscribe-btn" data-toggle="modal" data-target="#subsModal">Subscribe</a>
                </div>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu" id="originalNav">
                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                            <li><a href="/">Home</a></li>
{#                            <li><a href="#">Include you new nav</a>#}
{#                                <ul class="dropdown">#}
{#                                    <li><a href="#">Home</a></li>#}
{#                                    <li><a href="#">Portfolio</a></li>#}
{#                                    <li><a href="#">About</a></li>#}
{#                                    <li><a href="#">Contact</a></li>#}
{#                                </ul>#}
{#                            </li>#}
                            <li><a href="/portfolio">Portfolio</a>
{#                                <ul class="dropdown">#}
{#                                    <li><a href="#">Portfolio 1</a></li>#}
{#                                    <li><a href="#">Portfolio 2</a></li>#}
{#                                    <li><a href="#">Portfolio 3</a></li>#}
{#                                    <li><a href="#">Portfolio 4</a></li>#}
{#                                    <li><a href="#">Portfolio 5</a></li>#}
{#                                </ul>#}
                            </li>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>

                        <!-- Search Form  -->
                        <div id="search-wrapper">
                            <form action="#">
                                <input type="text" id="search" placeholder="Search something...">
                                <div id="close-icon"></div>
                                <input class="d-none" type="submit" value="">
                            </form>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- Nav End -->